body{
    margin: auto;
    background-color:#c4e6f4;
}
a{
    text-decoration: none;
}
#coupon
{
    height:200px;
    width:300px;
    background-color: grey;
    margin: auto;
    z-index: 100;
    position: absolute;
    display:block;
    margin-left:40% ;
    background-image: url("coupon2.jpg");
    background-size:300px 200px;
   
    background-repeat: no-repeat;
}
#header{
    height:60px;
    width:100%;
    /* border:2px solid red; */
    background-color:#f58d27;
}
#icon
{
    float:left;
    margin-left:1%;
}
#social
{
    float:right;
    margin-right:1%;
    margin-top:1%;
    
}
.slogo
{
    height:41px;
    width:41px;
    border-radius: 20px;
}

#search{
    height:400px;
    width:100%;
    background-image: url('table4.jpg');
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size:100% 400px ;
}
#logo
{
    height:110px;
    width:110px;
    background-color:rgb(240 229 229/ 55%);
    border-radius: 50%;
    margin-left:45%;
    position:absolute;
    margin-top: 3%;
    animation:revolve 12s infinite
 
}
 @keyframes revolve
 {
    0% {transform:rotate(30deg);
    margin-left:2%}
    25% {transform:rotate(90deg);
    margin-left:20%}
    60%{transform:scale(180deg);
        margin-left:45%}
    50% {transform:rotate(270deg);
        margin-left:80%}
    75% {transform:rotate(360deg);
        margin-left:40%}
    100%{transform: rotate(360deg);
        margin-left:40%}
    
 }

span{
    margin-left:31%;
    position:absolute;
    margin-top: 12%;
    font-size: 60px;
    color: black;
   
}
#heading{
    margin-left:33%;
    position:absolute;
    margin-top: 15%;
    font-size: 30px;
    color: black;
    /* font-weight: bold; */
   
}
.dropdown
{
    height:50px;
    width:40%;
    margin-left:30%;
    margin-top:20%;
    position:absolute;
    /* border:2px solid red; */
}
select{
    height:40px;
    width:40%;
    text-align: center;

}
.restselect
{
    width:55%;
}
#quicksearch{
    height:600px;
    width:80%;
    /* border:2px  dashed blue; */
    margin-left:10%;
    margin-top: 2%;
    
}
#quickheading{
    font-size: 30px;
    color:#f58d27;
    display:block;
    visibility:visible;
    margin-left: 2%;
    margin-top:1%;
}
#quickheading:hover{
    font-size:40px;
    color:#c21388;
}
#quicksubheading
{
    font-size: 20px;
    color:gray;
    display:block;
    line-height: 2;
    margin-left: 2%;
    margin-top:4%;
}
.titlecontainer{
    height:180px;
    width:25%;
    box-shadow: 12px 14px 21px grey;
    display:inline-block;
    margin-left: 2%;
    margin-top: 11%;
    animation:dance 10s infinite;
}
.tilecontainer:hover{
    transform:scale(1.5);
    transform:skew(20deg)

}

@keyframes dance {
    0% {transform:rotate(-5deg)}
    25% {transform:rotate(0deg)}
    60%{transform:scale(1.1)}
    50% {transform:rotate(5deg)}
    75% {transform:rotate(0deg)}
    100%{transform: rotate(deg)}
    
}

.tilecomponent1{
    width:50%;
    height:180px;
    background-color:olive;
    float:left;
}

.tilecomponent1 > img{
    width:100%;
    height:180px;
}

.tilecomponent2{
    width:50%;
    height:180px;
    margin-top: 16%;
    margin-left:0%;
    float:left;
}
.componentheading
{
    margin-top: -60%;
    margin-left: 60%;
    color:#c21388;
    font-size: 20px;
}
.componentsubheading
{
    margin-top: 10%;
    margin-left: 2%;
    color:#c21388;
    font-size: 17px;

}

#footer{
    height:112px;
    width:100%;
    /* border:2px dotted maroon; */
    background-color: #f58d27;
    margin-top: 6%;
}


#footText{
    text-align:center;
}
.footDiv{
    height:67px;
    width:33%;
    float:left;
    border-right:2px solid black;
    text-align: center;

}

.noBorder{
    border:none;
}
@media screen and (max-width:1600px){
    body{
        background-color: #9fe187;
    }
}

@media screen and (max-width:1400px){
    body{
        background-color: #8ad8f1;
    }
}

@media screen and (max-width:1200px){
    body{
        background-color: #6357e9;
    }
}
@media screen and (max-width:1000px){
    body{
        background-color: #ef8df2;
    }
}
@media screen and (max-width:800px){
    body{
        background-color: #ebb29a;
    }
}
@media screen and (max-width:500px){
    body{
        background-color: #eecb7a;
    }
}
